.column_filter {
    height: 26px !important;
}

.datatable_loadinvisible {
    display: none;
}

.inputRequired {
    border-color: #bd4247 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #bd4247 !important;
    background-color:#f8d3d4 !important;
}

.areaFilter {
}

    .areaFilter fieldset {
        display: inline;
    }


* {
    box-sizing: border-box;
}

    *:before, *:after {
        box-sizing: border-box;
    }

    *:before, *:after {
        box-sizing: border-box;
    }

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    float: left;
}

.clearLeft {
    clear: left;
}

.panel-default {
    border-color: #ddd;
}

    .panel-default > .panel-heading {
        background-color: #f5f5f5;
        border-color: #ddd;
        color: #333;
    }

.panel-body {
    padding: 15px;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-right {
    margin-left: 15px;
}

th .column_filter {
    width: 100px;
}

input {
    height:26px !important;
}