<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="BoletimCargaPortlet">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
        <dependent-module archiveName="frameworkPortWeb-0.0.3-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/frameworkPortWeb/frameworkPortWeb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="BoletimCargaPortlet"/>
        <property name="java-output-path" value="/BoletimCargaPortlet/target/classes"/>
    </wb-module>
</project-modules>
