fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.left {
    float: left;
}

.right {
    float: right;
}


legend.scheduler-border {
    font-size: 1.0em !important;
    font-weight: normal !important;
    color: blue;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

div.WhiteLine {
    height: 0px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.labelRadioButton {
    display: inline !important;
}

.rdoButton {
    margin: 0px 0px 0px !important;
}

.input-append .add-on, .input-prepend .add-on{
	height: auto !important;
}
