@CHARSET "utf-8";

/* CSS Custom */

div.portlet-body h2.page-header { margin-top:0px; }
div.portlet-body h4 {color:#29ABE2; border-bottom:1px solid #eeeeee; padding-bottom: 5px;}

.remove-pl {padding-left:0 !important;}
.remove-pr {padding-right:0 !important;}
.remove-mr {margin-right:0 !important;}
.remove-ml {margin-left:0 !important;}
.remove-mb {margin-bottom:0 !important;}

.add-mb { margin-bottom:20px; !important;}
.add-mb-5 { margin-bottom:5px !important; }
.add-mb-10 { margin-bottom:10px !important; }

.btn-last {margin-right:20px;}

/* MODAL */
p.paragrafoAlert { height: 65px;}
p.paragrafoButton { padding-left:212px; }

html.aui .circle-medium.danger { background-color: #b50303; border-color:#b50303; }
html.aui .circle-medium.success { background-color: #488f06; border-color:#488f06; }
html.aui .circle-medium.warning { background-color: #bf7900; border-color:#bf7900; }

html.aui .container [class*="icon-"].icon-black { color: #0b3141 !important; }

html.aui .table tbody tr { height:auto !important; }
html.aui table.table tr th { background-color:#B1B3B2 !important; text-align:center !important; }
html.aui table.table tr td { background-color:#FFFFFF !important; text-align:center !important; }

html.aui table.table tr.active td { background-color: #EDF8FD !important; }
html.aui table.table tr.pai td { background-color:#F0EFEF !important; text-align:center !important; }

html.aui table.table tr.filho td { background-color:#FFFFFF !important; }

.aui .table th, .aui .table td { padding:3px !important; }
.aui .table th, .aui .table td input[type="radio"], 
.aui .table th, .aui .table td input[type="checkbox"] { margin:0px !important; height:auto !important; }

html.aui .container [class*="icon-"] { cursor:pointer; text-decoration:none; }
html.aui .container [class*="icon-"].icon-black { color: #0b3141 !important; }

.aui .modal-backdrop {text-align: left !important;}
.aui .modal-backdrop, .aui .modal-backdrop.fade.in { opacity: 0.9; filter: alpha(opacity=90); }

html.aui #main-content .circle-medium { width:34px; height:34px; } 


.ui-state-default {background: none !important;}

.aui .pagination ul > li > a, .aui .pagination ul > li > span {border-left-width: 1px !important; border-radius: 4px !important;}



/*Não está funcionando verificar! */

html.aui .container .nav-list > .active > a [class*="icon-"].icon-black,
html.aui .container .nav-list > .active > a:hover [class*="icon-"].icon-black,
html.aui .container .nav-list > .active > a:focus [class*="icon-"].icon-black {
                color:#FFFFFF !important;
}


/* CSS Custom End */


.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;
}
.table-responsive > .table {
	margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
	white-space: nowrap;
}
.table-responsive > .table-bordered {
	border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
	border-bottom: 0;
}
